In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
file_path=r"C:\csv data science\adult.data.csv"
df=pd.read_csv(file_path)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [10]:
 #How many men and women (sex feature) are represented in this dataset?
# Check the unique values in the 'sex' column to ensure correct labeling
print(df['sex'].unique())

['Male' 'Female']

In [11]:
sex_counts = df['sex'].value_counts()
print(sex_counts)

sex
Male      21790
Female    10771
Name: count, dtype: int64

In [12]:
#What is the average age (age feature) of women?
average_age_women = df[df['sex'] == 'Female']['age'].mean()
print(f"Average age of women: {average_age_women:.2f} years")

Average age of women: 36.86 years

In [13]:
#What is the percentage of German citizens (native-country feature)?
# Total number of entries
total_count = len(df)

# Number of entries where native-country is Germany
germany_count = len(df[df['native-country'] == 'Germany'])

# Calculate percentage
germany_percentage = (germany_count / total_count) * 100

print(f"Percentage of German citizens: {germany_percentage:.2f}%")

Percentage of German citizens: 0.42%

In [15]:
# Filter for individuals earning >50K
high_earners = df[df['salary'] == '>50K']
print(high_earners)

       age         workclass  fnlwgt     education  education-num  \
7       52  Self-emp-not-inc  209642       HS-grad              9
8       31           Private   45781       Masters             14
9       42           Private  159449     Bachelors             13
10      37           Private  280464  Some-college             10
11      30         State-gov  141297     Bachelors             13
...    ...               ...     ...           ...            ...
32539   71                 ?  287372     Doctorate             16
32545   39         Local-gov  111499    Assoc-acdm             12
32554   53           Private  321865       Masters             14
32557   40           Private  154374       HS-grad              9
32560   52      Self-emp-inc  287927       HS-grad              9

           marital-status         occupation   relationship  \
7      Married-civ-spouse    Exec-managerial        Husband
8           Never-married     Prof-specialty  Not-in-family
9      Married-civ-spouse    Exec-managerial        Husband
10     Married-civ-spouse    Exec-managerial        Husband
11     Married-civ-spouse     Prof-specialty        Husband
...                   ...                ...            ...
32539  Married-civ-spouse                  ?        Husband
32545  Married-civ-spouse       Adm-clerical           Wife
32554  Married-civ-spouse    Exec-managerial        Husband
32557  Married-civ-spouse  Machine-op-inspct        Husband
32560  Married-civ-spouse    Exec-managerial           Wife

                     race     sex  capital-gain  capital-loss  hours-per-week  \
7                   White    Male             0             0              45
8                   White  Female         14084             0              50
9                   White    Male          5178             0              40
10                  Black    Male             0             0              80
11     Asian-Pac-Islander    Male             0             0              40
...                   ...     ...           ...           ...             ...
32539               White    Male             0             0              10
32545               White  Female             0             0              20
32554               White    Male             0             0              40
32557               White    Male             0             0              40
32560               White  Female         15024             0              40

      native-country salary
7      United-States   >50K
8      United-States   >50K
9      United-States   >50K
10     United-States   >50K
11             India   >50K
...              ...    ...
32539  United-States   >50K
32545  United-States   >50K
32554  United-States   >50K
32557  United-States   >50K
32560  United-States   >50K

[7841 rows x 15 columns]

In [16]:
# Calculate mean and standard deviation of age
mean_age = high_earners['age'].mean()
std_age = high_earners['age'].std()

print(f"Mean age of >50K earners: {mean_age:.2f} years")
print(f"Standard deviation of age: {std_age:.2f} years")

Mean age of >50K earners: 44.25 years
Standard deviation of age: 10.52 years

In [32]:
df['salary'] = df['salary'].str.strip()

low_earners = df[df['salary'] == '<=50K']
print(low_earners)
mean_ages = low_earners['age'].mean()
std_ages = low_earners['age'].std()

print(f"Mean age of <=50K earners: {mean_ages:.2f} years")
print(f"Standard deviation of age: {std_ages:.2f} years")

       age         workclass  fnlwgt     education  education-num  \
0       39         State-gov   77516     Bachelors             13
1       50  Self-emp-not-inc   83311     Bachelors             13
2       38           Private  215646       HS-grad              9
3       53           Private  234721          11th              7
4       28           Private  338409     Bachelors             13
...    ...               ...     ...           ...            ...
32553   32           Private  116138       Masters             14
32555   22           Private  310152  Some-college             10
32556   27           Private  257302    Assoc-acdm             12
32558   58           Private  151910       HS-grad              9
32559   22           Private  201490       HS-grad              9

           marital-status         occupation   relationship  \
0           Never-married       Adm-clerical  Not-in-family
1      Married-civ-spouse    Exec-managerial        Husband
2                Divorced  Handlers-cleaners  Not-in-family
3      Married-civ-spouse  Handlers-cleaners        Husband
4      Married-civ-spouse     Prof-specialty           Wife
...                   ...                ...            ...
32553       Never-married       Tech-support  Not-in-family
32555       Never-married    Protective-serv  Not-in-family
32556  Married-civ-spouse       Tech-support           Wife
32558             Widowed       Adm-clerical      Unmarried
32559       Never-married       Adm-clerical      Own-child

                     race     sex  capital-gain  capital-loss  hours-per-week  \
0                   White    Male          2174             0              40
1                   White    Male             0             0              13
2                   White    Male             0             0              40
3                   Black    Male             0             0              40
4                   Black  Female             0             0              40
...                   ...     ...           ...           ...             ...
32553  Asian-Pac-Islander    Male             0             0              11
32555               White    Male             0             0              40
32556               White  Female             0             0              38
32558               White  Female             0             0              40
32559               White    Male             0             0              20

      native-country salary
0      United-States  <=50K
1      United-States  <=50K
2      United-States  <=50K
3      United-States  <=50K
4               Cuba  <=50K
...              ...    ...
32553         Taiwan  <=50K
32555  United-States  <=50K
32556  United-States  <=50K
32558  United-States  <=50K
32559  United-States  <=50K

[24720 rows x 15 columns]
Mean age of <=50K earners: 36.78 years
Standard deviation of age: 14.02 years

In [34]:
#Is it true that people who earn more than 50K have at least high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

high_edu_levels = [
    'Bachelors',
    'Prof-school',
    'Assoc-acdm',
    'Assoc-voc',
    'Masters',
    'Doctorate'
]
high_earners = df[df['salary'] == ' >50K']  # or '>50K' after stripping
# Identify rows where education is NOT in the high_edu_levels
non_high_edu = high_earners[~high_earners['education'].isin(high_edu_levels)]

# Check if this dataframe is empty
if non_high_edu.empty:
    print("✅ Yes, all people earning >50K have at least high school education (as defined).")
else:
    print("❌ No, there are people earning >50K without at least high school education.")
    print("Here are the counts by education level:")
    print(non_high_edu['education'].value_counts())

✅ Yes, all people earning >50K have at least high school education (as defined).

In [35]:
#Find the maximum age of men of Amer-Indian-Eskimo race

# Filter for men of Amer-Indian-Eskimo race
amer_indian_men = df[(df['sex'] == 'Male') & (df['race'] == 'Amer-Indian-Eskimo')]

# Find the maximum age
max_age = amer_indian_men['age'].max()

print(f"The maximum age of men of Amer-Indian-Eskimo race is: {max_age} years")

The maximum age of men of Amer-Indian-Eskimo race is: 82 years

In [37]:
#Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

maritals = df['marital-status'].value_counts()
print(maritals)

marital-status
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: count, dtype: int64

In [38]:
# Strip whitespace to avoid mismatches
df['marital-status'] = df['marital-status'].str.strip()

# Create a 'married' boolean column
df['is_married'] = df['marital-status'].str.startswith('Married')
men = df[df['sex'] == 'Male']
married_men = men[men['is_married'] == True]
married_high_earners = married_men[married_men['salary'] == ' >50K']

married_prop = len(married_high_earners) / len(married_men) * 100
single_men = men[men['is_married'] == False]
single_high_earners = single_men[single_men['salary'] == ' >50K']

single_prop = len(single_high_earners) / len(single_men) * 100
print(f"Proportion of high earners among married men: {married_prop:.2f}%")
print(f"Proportion of high earners among single men: {single_prop:.2f}%")

if married_prop > single_prop:
    print("✅ Married men have a higher proportion of high earners.")
else:
    print("✅ Single men have a higher proportion of high earners.")

Proportion of high earners among married men: 0.00%
Proportion of high earners among single men: 0.00%
✅ Single men have a higher proportion of high earners.

In [39]:
max_hours = df['hours-per-week'].max()
print(f"Maximum hours per week: {max_hours}")

Maximum hours per week: 99

In [40]:
max_hour_workers = df[df['hours-per-week'] == max_hours]
num_max_hour_workers = len(max_hour_workers)

print(f"Number of people working {max_hours} hours/week: {num_max_hour_workers}")
high_earners_among_max = max_hour_workers[max_hour_workers['salary'] == ' >50K']
num_high_earners_among_max = len(high_earners_among_max)

# Calculate percentage
percentage_high_earners = (num_high_earners_among_max / num_max_hour_workers) * 100

print(f"Percentage of >50K earners among them: {percentage_high_earners:.2f}%")

Number of people working 99 hours/week: 85
Percentage of >50K earners among them: 0.00%

In [41]:
#Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

df['salary'] = df['salary'].str.strip()
df['native-country'] = df['native-country'].str.strip()
avg_hours = df.groupby(['native-country', 'salary'])['hours-per-week'].mean().round(2)
print(avg_hours)

native-country  salary
?               <=50K     40.16
                >50K      45.55
Cambodia        <=50K     41.42
                >50K      40.00
Canada          <=50K     37.91
                          ...
United-States   >50K      45.51
Vietnam         <=50K     37.19
                >50K      39.20
Yugoslavia      <=50K     41.60
                >50K      49.50
Name: hours-per-week, Length: 82, dtype: float64

In [42]:
japan_low = avg_hours.loc[('Japan', '<=50K')]
japan_high = avg_hours.loc[('Japan', '>50K')]

print(f"Average hours/week in Japan for <=50K earners: {japan_low}")
print(f"Average hours/week in Japan for >50K earners: {japan_high}")

Average hours/week in Japan for <=50K earners: 41.0
Average hours/week in Japan for >50K earners: 47.96